/*--Оформлення контактів--*/

.contact-data {
    display: flex;
    margin-left: 305px;
        
&__item {
    align-items: center;
    display: flex;
    margin-right: 30px;
}    

&__link {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    vertical-align: middle;
}

&__icon {
   display: flex;
   fill: #757575;
    padding-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

& {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__item:hover &__icon,
&__item:focus &__icon,
&__item:hover &__link,
&__item:focus &__link
{
    color: #2196f3;
    fill: $hover-text-color;
}

& :last-child {
margin-right: 0px;
}}

.contact .container {
    display: flex;
}

.contact-links {
    margin-top: 20px;
}

.location,
.social {
    margin-left: 70px;
}

.link-current {
    color: #2196f3;
}

.contact-data :last-child,
.images :last-child {
    margin-right: 0px;
}