/*-- Секція Герой--*/
.section-hero {
    text-align: center;
    padding-top: 215px;
    padding-bottom: 185px;
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));
    background-image: url(/images/hero.svg);

&__title {
    padding-bottom: 30px;
    color: $absolut-white-header;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}}

.p {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}